* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

body {
  background-color: hsl(235, 16%, 14%);
}

.countdown_timer_app {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    hsl(236, 21%, 26%) 0%,
    hsl(235, 16%, 14%) 35%,
    hsl(234, 17%, 12%) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}

.pattern_hills {
  position: absolute;
  bottom: 0;
  z-index: 1;
  object-fit: cover;
  width: 100%;
}

.stars_bg {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: rgb(251, 96, 135);
  background: linear-gradient(
    0deg,
    rgba(251, 96, 135, 0.022868522408963532) 0%,
    rgba(251, 96, 135, 0.06488532913165268) 31%,
    rgba(25, 26, 36, 0.7623643207282913) 68%
  );
}

.countdown_wrapper {
  display: flex;
  gap: 30px;
}

.launch_title {
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}

.social_media {
  position: absolute;
  bottom: 50px;
  z-index: 2;
  display: flex;
  gap: 30px;
}

.social_media_link {
  width: 25px;
  height: 25px;
}
.social_media_icon {
  height: 100%;
  width: 100%;
  transition: filter 0.3s;
}

.social_media_link:hover svg {
  fill: rgb(251, 96, 135);
}

@media (max-width: 767px) {
  .countdown_timer_app {
    gap: 60px;
  }
  .countdown_wrapper {
    gap: 20px;
  }
  .stars_bg {
    object-position: right;
  }
  .pattern_hills {
    height: 200px;
    object-fit: cover;
    object-position: right;
  }

  .launch_title {
    text-align: center;
    font-size: 23px;
  }
}
