* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  color: hsl(24, 5%, 18%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.recipe_page_container {
  background-color: #f4e5d8;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
}

.recipe_page_container .recipe_wrapper {
  background-color: #fff;
  width: 50%;
  max-width: 600px;
  border-radius: 20px;
  padding: 30px;
}

.recipe_image_container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
}

.recipe_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe_title {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

.recipe_details_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recipe_description {
  margin-top: 15px;
  font-size: 12px;
}

.recipe_preparation_time {
  background-color: hsl(330, 100%, 98%);
  padding: 15px;
  border-radius: 10px;
}

.recipe_preparation_time .pink_title {
  font-size: 18px;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
  margin-bottom: 10px;
}

ul,
ol {
  padding-left: 20px;
  font-size: 14px;
}

li {
  color: hsl(30, 10%, 34%);
  padding-left: 10px;
  margin-bottom: 8px;
}

ul li::marker {
  font-size: 12px;
}

li span {
  font-weight: 600;
  color: hsl(24, 5%, 18%);
}

.recipe_details_title {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  margin-bottom: 10px;
}

.recipe_ingredients,
.recipe_instructions {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-bottom: 20px;
}

.nutrition_list_item {
  display: flex;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 10px;
}
.nutrition_list_item:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.nutrition_list_item_name {
  width: 50%;
  font-size: 13px;
}

.nutrition_list_item_details {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
  font-size: 13px;
}

@media (max-width: 576px) {
  .recipe_page_container {
    padding: 0px;
  }
  .recipe_page_container .recipe_wrapper {
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
    padding: 0px 0px 30px 0px;
  }

  .recipe_image_container {
    border-radius: 0px;
  }

  .recipe_details_container {
    padding-inline: 30px;
  }
}
