.expenses_chart_screen_container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background-color: hsl(27, 66%, 92%);
}

.balance_and_chart_container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 767px) {
  .expenses_chart_screen_container {
    padding: 20px;
  }
}
