.calculator_wrapper {
  background-color: transparent;
  width: 450px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.calc_header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

.calc_title {
  font-size: 28px;
}

.theme_switcher {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.theme_label {
  font-size: 10px;
  padding-bottom: 5px;
}

/* Toggler.css */
.toggler-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.toggle-numbers {
  display: flex;
  justify-content: center;
}

.toggle-numbers span {
  margin: 0 5px;
  cursor: pointer;
}

.toggle-numbers .active {
  font-weight: bold;
}

.toggle-switch {
  width: 65px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  transition: left 0.3s ease;
}

.position-1 {
  left: 5%;
}

.position-2 {
  left: 35%;
}

.position-3 {
  left: 70%;
}

.calc_screen {
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}

.calc_screen_value {
  text-align: right;
  font-size: 40px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calc_key_pad {
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  padding: 25px;
  border-radius: 10px;
  gap: 20px;
}

.calc_key_regular {
  all: unset;
  box-sizing: border-box;
  width: calc((100% / 4) - 15px);
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calc_key_regular,
.calc_key_large {
  transition: filter 0.3s ease;
}

.calc_key_regular:hover,
.calc_key_large:hover {
  filter: brightness(1.2);
}
.calc_key {
  font-size: 26px;
}

.calc_key_large {
  all: unset;
  box-sizing: border-box;
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  width: calc(50% - 10px);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 767px) {
  .calculator_wrapper {
    width: 100%;
    max-width: 450px;
  }

  .toggle-switch {
    width: 80px;
    height: 30px;
  }
  .circle {
    width: 20px;
    height: 20px;
  }
  .theme_label {
    font-size: 15px;
  }
  .calc_title {
    font-size: 35px;
  }
}
