.testimonials_grid_screen {
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.grid {
  width: 85%;
  max-width: 1200px;
  display: flex;
  gap: 30px;
}

.left_side_grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.left_side_first_row,
.left_side_second_row {
  display: flex;
  gap: 30px;
}

.right_side_grid {
  display: flex;
  width: 20%;
}

@media (max-width: 767px) {
  .grid {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .left_side_grid,
  .right_side_grid {
    width: 100%;
  }

  .left_side_first_row,
  .left_side_second_row {
    width: 100%;
    flex-direction: column;
  }
}
