* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

.order_summary_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: hsl(225, 100%, 94%);
  min-height: 100vh;
  padding: 20px;
}

.background_mobile {
  display: none;
}

.background_desktop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
