.card_wrapper {
  position: relative;
  background-color: white;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.card_image_wrapper {
  width: 100%;
  height: 200px;
}

.illustration_hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order_summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 25px;
}

.order_summary_title {
  text-align: center;
  font-weight: 900;
}

.order_description {
  text-align: center;
  font-size: 15px;
  color: hsl(224, 23%, 55%);
}

.order_details {
  display: flex;
  gap: 20px;
  background-color: hsl(225, 100%, 98%);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  width: 100%;
}

.order_type {
  font-weight: 700;
  font-size: 16px;
}

.order_price {
  font-size: 13px;
  font-weight: 400;
  color: hsl(224, 23%, 55%);
}

.change_link {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.3s ease;
}

.change_link:hover {
  opacity: 0.6;
}

.process {
  all: unset;
  box-sizing: border-box;
  background-color: hsl(245, 75%, 52%);
  width: 100%;
  padding: 15px;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.process:hover,
.process:active {
  opacity: 0.7;
}

.cancel_order {
  all: unset;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
  transition: all 0.3s ease;
}

.cancel_order:hover,
.cancel_order:active {
  color: black;
}

@media (max-width: 767px) {
  .background_desktop {
    display: none;
  }
  .background_mobile {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 50%;
  }
  .card_image_wrapper {
    height: 170px;
  }
}
