.splitter_screen_container {
  background-color: hsl(185, 41%, 84%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 20px;
}

.splitter_app_title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  color: hsl(183, 100%, 15%);
}

.splitter_app {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  max-width: 800px;
  width: 100%;
}
